# Default ignored files
/../../go-elk/.idea/shelf/
/../../go-elk/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../go-elk/.idea/httpRequests/
# Datasource local storage ignored files
/../../go-elk/.idea/dataSources/
/../../go-elk/.idea/dataSources.local.xml
